@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/* Base Styles */
* {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #555;
  line-height: 1.4em;
  background-color: #fff;
  padding: 3em;
}

/* Heading Styles */
h1 {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #8e1986;
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-weight: lighter;
}

h2 {
  font-size: 1.5rem;
  color: #19868e;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.25rem;
  color: #444;
  margin-bottom: 1.25rem;
}

div.explanation[role="article"] h3 {
  color: #19868e;
}

/* Content Paragraph Styles */
#zen-summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  margin-bottom: 2.5em;
}

.summary p:first-of-type,
.preamble p:first-of-type,
.explanation p:first-of-type,
.participation p:first-of-type,
.benefits p:first-of-type,
.requirements p:first-of-type {
  font-size: 1.05rem;
}

.design-selection li:last-of-type,
.design-archives {
  margin-bottom: 1.5em;
}

/* Footer Styles */
footer {
  margin-bottom: 2.5em;
}
/* Link Styles */
a {
  color: #868e19;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer > a {
  color: #f5f5f5;
  background-color: #868e19;
  border-radius: 0.25em;
  padding: 0.5em;
  margin-right: 1em;
}

.wrapper a {
  color: #19868e;
}

a.designer-name {
  color: #888;
}

li:nth-child(2n + 1) {
  background-color: #eee;
}
