@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");

:root {
  /* Fonts */
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Merriweather", serif;

  /* Colors */
  --color-primary-text: #3f3f3f;
  --color-secondary-text: #e3e3e3;
  --color-tertiary-text: #8e1986;
  --color-quaternary-text: #19868e;
  --color-primary-bg-more-transparent: hsla(0, 0%, 100%, 0.82);
  --color-primary-bg-less-transparent: hsla(0, 7%, 92%, 0.95);
  --color-secondary-bg: hsla(184, 80%, 39%, 0.6);
  --color-tertiary-bg: hsla(303, 53%, 30%, 0.95);
  --color-link: #888810;
  --color-link-hover: #595f0d;
  --color-main-bg: hsla(0, 7%, 97%, 0.96);
  --color-sidebar-item-bg: hsla(0, 0%, 100%, 0.2);
}

/* Base Styles */
* {
  margin: 0;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  background-image: url("https://images.unsplash.com/photo-1580685989905-e3d31c325b5f?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b3JpZ2FtaXxlbnwwfDB8MHx8fDA%3D");
  background-size: cover;
  line-height: 1.4em;
  font-size: 16px;
  padding: 0em;
  overflow-x: hidden;
}

/* Heading Styles */
h1 {
  font-family: var(--font-secondary);
  color: var(--color-tertiary-text);
  font-size: 6rem;
  font-weight: bold;
  margin: 0rem 0.5rem 0rem 0.5rem;
  transform: translateX(-15%);
  padding: 3rem 5rem 3rem 5rem;
  background-image: radial-gradient(
    ellipse at center,
    #f0f0f0,
    rgba(240, 240, 240, 0.9) 20%,
    rgba(240, 240, 240, 0.8) 40%,
    rgba(240, 240, 240, 0.5) 60%,
    rgba(240, 240, 240, 0) 75%
  );
}

h1,
h2 {
  border-radius: 1rem;
}

h2 {
  font-size: 2rem;
  color: var(--color-quaternary-text);
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  transform: translateX(-90%);
  padding: 1rem 2rem 1rem 2rem;
  background-image: radial-gradient(
    ellipse at center,
    #f0f0f0,
    rgba(240, 240, 240, 0.7) 20%,
    rgba(240, 240, 240, 0.5) 40%,
    rgba(240, 240, 240, 0.3) 60%,
    rgba(240, 240, 240, 0) 75%
  );
}

h3 {
  /* font-weight: lighter; */
  font-size: 1.25rem;
  padding-left: 2rem;
  margin-bottom: 1.25rem;
}

/* Paragraph Styles */
p {
  margin-bottom: 0.8rem;
}

/* Link Styles */
a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Page layout  */
.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "intro intro intro intro intro"
    "sidebar main main main main";
}

/* Intro styles */
.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "hero hero hero hero hero"
    "summary preamble preamble preamble preamble";
}

.intro > :not(.preamble, .summary) {
  grid-area: hero;
}

.intro header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1580685989905-e3d31c325b5f?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b3JpZ2FtaXxlbnwwfDB8MHx8fDA%3D");
  background-size: cover;
  height: calc(70vh - 3rem);
  height: 65vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.intro header,
.intro .summary {
  margin-bottom: 0;
}

/* Preamble styles */
.preamble {
  grid-area: preamble;
  font-family: var(--font-secondary);
  background-color: var(--color-tertiary-bg);
  color: var(--color-secondary-text);
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0rem 2rem 0rem 6rem;
}

.preamble h3 {
  font-size: 1.5rem;
  color: var(--color-secondary-text);
}

/* Summary styles */
.summary {
  grid-area: summary;
  background-color: var(--color-secondary-bg);
  color: var(--color-primary-text);
  font-size: 1.2rem;
  padding: 0rem 1rem 0rem 1rem;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summary p:nth-of-type(2) {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.summary a {
  color: var(--color-primary-text);
  font-weight: bold;
}

/* Main styles */
#zen-supporting {
  grid-area: main;
}

.explanation,
.participation,
.benefits,
.requirements {
  background-color: var(--color-primary-bg-more-transparent);
  padding: 1.5em;
  margin-left: 2rem;
}

.explanation p:first-of-type,
.participation p:first-of-type,
.benefits p:first-of-type,
.requirements p:first-of-type {
  font-size: 1.1em;
}

/* Explanation styles */
.explanation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary-bg-less-transparent);
}

div.explanation[role="article"] h3 {
  color: var(--color-tertiary-text);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5em;
}

/* Sidebar styles */
.sidebar .wrapper {
  grid-area: sidebar;
  position: relative;
  background-color: var(--color-secondary-bg);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidebar .wrapper a {
  color: var(--color-primary-text);
}

.sidebar ul {
  list-style: none;
  padding-left: 0.3rem;
  font-weight: bold;
}

.design-archives {
  order: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.design-archives ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

h3.archives {
  display: none;
}

.design-selection {
  order: 2;
  padding: 1rem;
}

h3.select {
  display: none;
}

.design-selection li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-primary-text);
  margin-bottom: 0.5em;
}

.design-selection li:last-child {
  border-bottom: none;
}

.design-selection li:last-of-type,
.design-archives {
  margin-bottom: 1.5em;
}

#design-selection nav ul li:nth-child(even) {
  text-align: right;
}

.design-selection a.design-name {
  color: var(--color-secondary-text);
}

.design-selection li,
.zen-resources li {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.zen-resources {
  order: 3;
  position: absolute;
  bottom: 1rem;
  padding-left: 1rem;
}

h3.resources {
  display: none;
}

#zen-supporting p[role="contentinfo"] {
  text-align: center;
}

/* Footer styles */
footer {
  grid-area: footer;
  color: var(--color-primary-text);
  background-color: var(--color-secondary-bg);
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  margin-top: 2rem;
  padding: 2em 0 3em 0;
  width: 100%;
}

footer > a {
  background-color: var(--color-link);
  color: var(--color-secondary-text);
  border-radius: 1.5rem;
  padding: 0.5em 1em;
  margin-right: 1em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;

  /* &:hover {
    background-color: #595f0d;
  } */
}

footer > a:hover {
  background-color: #595f0d;
}
