@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");

:root {
  /* Fonts */
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Merriweather", serif;

  /* Colors */
  --color-primary-text: #555;
  --color-secondary-text: #f9f9f9;
  --color-heading1: #8e1986;
  --color-heading2: #19868e;
  --color-heading3: #444;
  --color-primary-bg: hsla(0, 0%, 100%, 0.96);
  --color-secondary-bg: hsla(184, 80%, 39%, 0.65);
  --color-tertiary-bg: hsla(303, 53%, 30%, 0.9);
  --color-link: #868e19;
  --color-link-hover: #595f0d;
  --color-main-bg: hsla(0, 0%, 100%, 0.96);
  --color-sidebar-item-bg: hsla(0, 0%, 100%, 0.2);
  --color-footer-bg: #333;
}

/* Base Styles */
* {
  margin: 0;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary-text);
  background-image: url("https://images.unsplash.com/photo-1580685989905-e3d31c325b5f?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b3JpZ2FtaXxlbnwwfDB8MHx8fDA%3D");
  /* background-image: url(cathy-mu-3_Y2wnIBjPY-unsplash.jpg); */
  background-size: cover;
  line-height: 1.4em;
  font-size: 16px;
  padding: 0em;
  overflow-x: hidden;
}

/* Heading Styles */
h1 {
  font-family: var(--font-secondary);
  color: var(--color-heading1);
  font-size: 6rem;
  font-weight: bold;
  margin: 0rem 0.5rem 0rem 0.5rem;
  transform: translateX(-15%);
  padding: 3rem 5rem 3rem 5rem;
  background-image: radial-gradient(
    ellipse at center,
    #f0f0f0,
    rgba(240, 240, 240, 0.9) 20%,
    rgba(240, 240, 240, 0.8) 40%,
    rgba(240, 240, 240, 0.5) 60%,
    rgba(240, 240, 240, 0) 75%
  );
}

h1,
h2 {
  border-radius: 1rem;
}

h2 {
  font-size: 2rem;
  color: var(--color-heading2);
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  transform: translateX(-90%);
  padding: 1rem 2rem 1rem 2rem;
  background-image: radial-gradient(
    ellipse at center,
    #f0f0f0,
    rgba(240, 240, 240, 0.7) 20%,
    rgba(240, 240, 240, 0.5) 40%,
    rgba(240, 240, 240, 0.3) 60%,
    rgba(240, 240, 240, 0) 75%
  );
}

h3 {
  font-weight: lighter;
}

h3 {
  font-size: 1.25rem;
  color: var(--color-heading3);
  margin-bottom: 1.25rem;
}

.preamble h3 {
  color: var(--color-secondary-text);
}

div.explanation[role="article"] h3 {
  color: #8e1986;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5em;
}

.intro header,
.intro .summary {
  margin-bottom: 0;
}

/* Content Paragraph Styles */

.explanation,
.participation,
.benefits,
.requirements {
  background-color: var(--color-main-bg);
  padding: 1.5em;
}

.explanation p:first-of-type,
.participation p:first-of-type,
.benefits p:first-of-type,
.requirements p:first-of-type {
  font-size: 1.1rem;
}

.summary p:nth-of-type(2) {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.design-selection li:last-of-type,
.design-archives {
  margin-bottom: 1.5em;
}

/* Link Styles */
a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: var(--color-link-hover);
  cursor: pointer;
}

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1em;
  background-color: var(--color-footer-bg);
}

footer > a {
  background-color: var(--color-link);
  color: var(--color-secondary-text);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin-right: 1em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;

  /* &:hover {
    background-color: #595f0d;
  } */
}

footer > a:hover {
  background-color: #595f0d;
}

.wrapper a {
  color: #19868e;
}

a.designer-name {
  color: #888;
}

/* TODO clean up where these go */

footer {
  padding: 1em;
  border-radius: 0.25rem;
}
/* Sidebar Styles */

.sidebar ul {
  list-style: none;
  padding-left: 0.3rem;
}

.design-selection li,
.zen-resources li {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/* Make design name, "by" text, and designer name stack vertically */
.design-selection li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
}

/* Page layout  */
.page-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "intro intro intro intro intro"
    "sidebar main main main main";
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-secondary-bg);
}

.design-selection li:nth-child(odd),
.zen-resources li:nth-child(odd) {
  background-color: var(--color-sidebar-item-bg);
}

#zen-supporting {
  grid-area: main;
}

.requirements {
  grid-area: requirements;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "hero hero hero hero hero"
    "summary preamble preamble preamble preamble";
}

.intro > :not(.preamble, .summary) {
  grid-area: hero;
}

.preamble {
  grid-area: preamble;
  background-color: var(--color-tertiary-bg);
  color: var(--color-secondary-text);
  padding: 2rem;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.summary {
  grid-area: summary;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header layout */
.intro header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1580685989905-e3d31c325b5f?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8b3JpZ2FtaXxlbnwwfDB8MHx8fDA%3D");
  background-size: cover;
  height: calc(70vh - 3rem);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* TODO responsiveness */
/* Small screens (e.g., mobile phones) */
@media screen and (max-width: 480px) {
  /* Add styles for small screens here */
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Add styles for medium screens here */
}

/* Large screens (e.g., desktops) */
@media screen and (min-width: 769px) {
  /* Add styles for large screens here */
}

/* Extra-large screens (e.g., wide desktops) */
@media screen and (min-width: 1200px) {
  /* Add styles for extra-large screens here */
}
